
:root {
  --white: #eaeaea;
}


.pageTitle{
  color: var(--white);
  text-align: left;
  margin-left: 12rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

body{
  background-color: #121212;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  font-family: 'Courier New', Courier, monospace;
}

li {
  color: var(--white);
  font-size: large;
  list-style: none;
  margin-bottom: 0.4rem;
}

li a {
  color: dodgerblue;
  text-decoration: none;
}

li a:hover{
  color: royalblue;
}