.pageTitle{
  color: #BB86FC;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
  background-color: #121212;
}

table, td, th{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid #303030;
  color: #03DAC6;
}

td, th{
  padding: .5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}