---
import '../styles/styles.css';
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page</title>
</head>
<body>
  <h1 class="pageTitle">Projects</h1>
  <ul>
    <li>
      <a href="/WineFestival">Winefestival Page</a>
    </li>
    <li>
      <a href="/New York City Blog">New York City Blog</a>
    </li>
    <li>
      <a href="/Pizzeria">Pizzeria</a>
    </li>
    <li>
      <a href="/healthy-recipes">Healthy Recipes</a>
    </li>
    <li>
      <a href="/olivia-portfolio">Olivia Woodruff Portfolio</a>
    </li>
  </ul>
</body>
</html>