---
import '../styles/index.css';
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page</title>
</head>
<body>
  <h1 class="pageTitle">Projects</h1>
  <h2>Codecademy</h2>
  <ul>
    <li>
      <a href="/wine-festival">Winefestival Page</a>
    </li>
    <li>
      <a href="/new-york-city-blog">New York City Blog</a>
    </li>
    <li>
      <a href="/healthy-recipes">Healthy Recipes</a>
    </li>
    <li>
      <a href="/olivia-portfolio">Olivia Woodruff Portfolio</a>
    </li>
    <li>
      <a href="/davies-burgers">Davie's Burgers</a>
    </li>
    <li>
      <a href="/broadway">Broadway</a>
    </li>
    <li>
      <a href="/dasmotos-arts">Dasmoto's Arts & Crafts</a>
    </li>
  </ul>
  <h2>Other</h2>
  <ul>
    <li>
      <a href="/pizzeria">Pizzeria</a>
    </li>
  </ul>
</body>
</html>