---
import Content from '../components/pizza.astro';
import '../styles/reset.css'
import '../styles/pizzeria.css'
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizzeria Presto Presto</title>
</head>
<body>
  <header>
    <h1>Pizzeria Presto Presto</h1>
  </header>
  <main>
    <Content></Content>
  </main>
  <div class="back-to-index">
    <a href="/">Back to Index</a>
  </div>
</body>
</html>