<div class="container">
  <table>
    <thead>
      <tr> <!-- Header -->
        <th colspan="2"><h2>Pizza</h2></th>
        <th class="size"><h2>24cm</h2></th>
        <th class="size"><h2>30cm</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr> <!-- Row 1 -->
        <th><h2>1</h2></th>
        <td><h3>Margherita</h3><br><h4>mit Tomatensauce, Oregano, Käse</h4></td>
        <td class="size">4,50€</td>
        <td class="size">5,50€</td>
      </tr>
      <tr> <!-- Row 2 -->
        <th><h2>2</h2></th>
        <td><h3>Salami</h3><br><h4>mit Tomatensauce, Oregano, Käse, Salami</h4></td>
        <td class="size">5,50€</td>
        <td class="size">6,50€</td>
      </tr>
      <tr> <!-- Row 3 -->
        <th><h2>3</h2></th>
        <td><h3>Funghi</h3><br><h4>mit Tomatensauce, Oregano, Käse, Champignons</h4></td>
        <td class="size">5,50€</td>
        <td class="size">6,50€</td>
      </tr>
      <tr> <!-- Row 4 -->
        <th><h2>4</h2></th>
        <td><h3>Prosciutto</h3><br><h4>mit Tomatensauce, Oregano, Käse, Schinken<sup>1</sup></h4></td>
        <td class="size">5,50€</td>
        <td class="size">6,50€</td>
      </tr>
    </tbody>
  </table>
</div>